<%- include('header') -%> 
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <button disabled id="buttonDel" form="tasksForm" type="submit">Delete</button>
    <div class="box">
        <form action="/deleteMany" method="post" id="tasksForm">
            <% newlistItems.forEach(function(item, index) { %>
                <div class="item">
                    <input id="checkBox_<%= item._id %>" type="checkbox" name="checkbox" value="<%= item._id %>"  >
                    <p><%=  item.name%></p>
                </div>   
            <%}) %>
            <input type="hidden" name="inputListName" value="<%= listTitle %>"> </input>
        </form>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New item" autocomplete="off" required>
            <button class="button" type="submit" name="list" value="<%= listTitle %>">+</button>    
        </form>
    </div>
     <script>
        let button = document.getElementById('buttonDel')
        let checkBoxValidation = document.querySelectorAll('input[type=checkbox]')
        /* console.log(checkBoxValidation) */

        for (let checkbox of checkBoxValidation) {
            checkbox.addEventListener("click", function(e) {
                /* console.log(e.target.checked) */
                if  (e.target.checked){
                    button.disabled=false
                } else{
                    // al menos uno tiene el checked
                    const someImputChecked = validateCheckboxes()
                    if (someImputChecked) {
                        button.disabled=false
                    } else {
                        button.disabled=true
                    }
                }
            });
        };

        function validateCheckboxes() {
            /* let flag = false
            for (let i = 0; i < checkBoxValidation.length; i++) {
                if (checkBoxValidation[i].checked) {
                    flag = true
                    break
                }
            }
            return flag; */

            return Array.from(checkBoxValidation).some(chk => chk.checked)
        }
    </script> 
<%- include('footer') -%>

